.ase-project-modal {
  border: none;
  bottom: 0;
  background-color: var(--white);
  left: 0;
  margin: 0 auto;
  outline: 0;
  overflow: hidden;
  position: static;
  right: 0;
  top: 50%;
  -webkit-transform-origin: 50% 25%;
  -ms-transform-origin: 50% 25%;
  transform-origin: 50% 25%;
  width: 100%;
  z-index: 50;
}
